<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Questrial|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/jquery/jquery.js"></script>
    <title>Hero Team Generator</title>
</head>
<body>
    {{{body}}}
    <script src="/scripts/cities.js"></script>
    <script src="/scripts/team-name.js"></script>
    <script src="/scripts/script.js"></script>
</body>
</html>