<h1>Oh no! {{{villain}}} is attacking the city!</h1>
<img href='#'>
<p>"Your city sucks and I'm going to cause millions in property damage! HAHAHAHA!</p>
<p>Click below to build a team of heroes to defend the city from {{{villain}}}</p>
<button>Assemble your team</button>