<h1>Name your team:</h1>
<input type="text">
<div class="heroes">

</div>
<h1>Where is your team headquarters?</h1>
<select>
    <option value="losangeles">Los Angeles</option>
    <option value="newyork">New York City</option>
    <option value="london">London</option>
    <option value="paris">Paris</option>
    <option value="tokyo">Tokyo</option>
    <option value="singapore">Singapore</option>
    <option value="hongkong">Hong Kong</option>
    <option value="sydney">Sydney</option>
    <option value="lagos">Lagos</option>
    <option value="rio">Rio De Janeiro</option>
</select>