<section class="main">
    <div class="team-name">
        <h1>Name your team:</h1>
        <input type="text">
    </div>
    <ul class="heroes">
        <li id="first-hero">
            <div class="thumbnail">

            </div>
            <input type="text"><br>
            <label>Select Hero</label>
        </li>
        <li id="second-hero">
            <div class="thumbnail">

            </div>
            <input type="text"><br>
            <label>Select Hero</label>
        </li>
        <li id="third-hero">
            <div class="thumbnail">

            </div>
            <input type="text"><br>
            <label>Select Hero</label>
        </li>
        <li id="fourth-hero">
            <div class="thumbnail">

            </div>
            <input type="text"><br>
            <label>Select Hero</label>
        </li>
        <li id="fifth-hero">
            <div class="thumbnail">

            </div>
            <input type="text"><br>
            <label>Select Hero</label>
        </li>
    </ul>
    <h1>Where is your team headquarters?</h1>
    <select id="city-menu">
        <option value="newyork">New York City</option>
        <option value="losangeles">Los Angeles</option>
        <option value="london">London</option>
        <option value="paris">Paris</option>
        <option value="tokyo">Tokyo</option>
        <option value="sydney">Sydney</option>
        <option value="dubai">Dubai</option>
        <option value="rio">Rio De Janeiro</option>
    </select>
    <button id="city-button">Set City</button>
</section>