<h1>Name your team:</h1>
<input type="text">
<ul class="heroes">
    <li id="first-hero">
        <div class="thumbnail">

        </div>
        <label>Select Hero:</label>
        <input type="text">
    </li>
    <li id="second-hero">
        <div class="thumbnail">

        </div>
        <label>Select Hero:</label>
        <input type="text">
    </li>
    <li id="third-hero">
        <div class="thumbnail">

        </div>
        <label>Select Hero:</label>
        <input type="text">
    </li>
    <li id="fourth-hero">
        <div class="thumbnail">

        </div>
        <label>Select Hero:</label>
        <input type="text">
    </li>
    <li id="fifth-hero">
        <div class="thumbnail">

        </div>
        <label>Select Hero:</label>
        <input type="text">
    </li>
</ul>
<h1>Where is your team headquarters?</h1>
<select>
    <option value="losangeles">Los Angeles</option>
    <option value="newyork">New York City</option>
    <option value="london">London</option>
    <option value="paris">Paris</option>
    <option value="tokyo">Tokyo</option>
    <option value="singapore">Singapore</option>
    <option value="hongkong">Hong Kong</option>
    <option value="sydney">Sydney</option>
    <option value="lagos">Lagos</option>
    <option value="rio">Rio De Janeiro</option>
</select>