<section class="main">
    <div class="brand">
    </div>
    <div class="team-name">
        <h1 id="team-name-instruction">Name your team:</h1>
        <input type="text">
        <button>Set Team Name</button>
        <h1 id="team-name-heading"></h1>
    </div>
    <ul class="heroes">
        <li class="hero">
            <div class="thumbnail"></div>
            <input><br>
            <button>Set Hero</button> 
        </li>
        <li class="hero">
            <div class="thumbnail"></div>
            <input><br>
            <button>Set Hero</button>
        </li>
        <li class="hero">
            <div class="thumbnail"></div>
            <input><br>
            <button>Set Hero</button>
        </li>
        <li class="hero">
            <div class="thumbnail"></div>
            <input><br>
            <button>Set Hero</button>
        </li>
        <li class="hero">
            <div class="thumbnail"></div>
            <input><br>
            <button>Set Hero</button>
        </li>
    </ul>
    <div class="cities">
        <h1>Where is your team headquarters?</h1>
        <select id="city-menu">
            <option value="newyork">New York City</option>
            <option value="losangeles">Los Angeles</option>
            <option value="london">London</option>
            <option value="paris">Paris</option>
            <option value="tokyo">Tokyo</option>
            <option value="sydney">Sydney</option>
            <option value="dubai">Dubai</option>
            <option value="rio">Rio De Janeiro</option>
        </select>
        <button id="city-button">Set City</button>
    </div>
</section>