
    <ul class="heroes">
        <li id="first-hero">
            <div class="thumbnail">
    
            </div>
            <input id="heroName" type="text" value="spider-man">
  
            <img src={{heros[0].thumbnailJpg}} alt="">
            <br>
            <label>Select Hero</label>
        </li>

<script>
    function getDataFromUserInput() {
            const $userInput = document.getElementById('heroName').value;
            console.log($userInput);
        }

        getDataFromUserInput();

</script>

{{!-- {{#each heros}} 
    <img src={{thumbnailJpg}} alt=""> 
    <h1>{{heroName}}</h1>
    <h2>{{heroDescription}}</h2>
{{/each}} --}}

{{!-- <form action="http://http://localhost:3000/" method="post">
    Hero name:
    <br>
    <input type="text" id="heroName" name="heroName" value="Mickey">
    <br>
    <br>
    <input type="submit" value="Submit">
</form> --}}
